<clr-main-container>
  <clr-header>
      <div class="branding">
        <a href="#" class="nav-link">
            <clr-icon shape="wrench"></clr-icon>
            <span class="title">eBay Playground</span>
        </a>
      </div>
      <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Opt1</a>
        <a href="javascript://" class="nav-link nav-text">Opt2</a>
      </div>
      <div class="header-actions">
          <button class="btn btn-success">Sandbox</button>
          <button class="btn btn-warning-outline">Live</button>
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog" (click)="getCode()"></clr-icon>
        </a>
      </div>
  </clr-header>
  <div class="content-container">
      <main class="content-area">
          main content area
      </main>
      <!-- <nav class="sidenav" [clr-nav-level]="2">
          sidenav
      </nav> -->
  </div>
</clr-main-container>
