<clr-main-container>
  <clr-header>
      <div class="branding">
        <a href="#" class="nav-link">
            <clr-icon shape="wrench"></clr-icon>
            <span class="title">eBay Playground</span>
        </a>
      </div>
      <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">US</a>
        <a href="javascript://" class="nav-link nav-text">UK</a>
        <a href="javascript://" class="nav-link nav-text">AU</a>
      </div>
      <div class="header-actions">
          <button [ngClass]="this._ebayService.isSandbox ? 'btn btn-success' : 'btn btn-primary-outline'"
          (click)="this._ebayService.swapEnv(true)" type="button">Sandbox</button>
          <button [ngClass]="!this._ebayService.isSandbox ? 'btn btn-success' : 'btn btn-primary-outline'" 
          (click)="this._ebayService.swapEnv(false)" type="button">Live</button>
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog" (click)="getCode()"></clr-icon>
        </a>
      </div>
  </clr-header>
  <div class="content-container">
      <main class="content-area">
        Access Token: 
        <div class="token-holder">
          {{getAccessToken()}}
        </div>
        Refresh Token: 
        <div class="token-holder">
          {{this._ebayService.refreshToken}}
        </div>
      </main>
      <!-- <nav class="sidenav" [clr-nav-level]="2">
          sidenav
      </nav> -->
  </div>
</clr-main-container>
